/* All Buttons */

.button{
  color: white;
  background-color: green;
}


/* Recipe Page Styles */

div.meal-details-visuals-container {
  display: inline-block;
}

H3.recipe-title{
  text-align: center;
}

div.meal-ingredients {
  border-radius: 3px;
  width: 11em;
  /* height: 15em; */ 
  display: inline-block;
}

div.previous-meal-comments {
  border-radius: 3px;
  border: 3px solid black;
  width: 11em;
  height: 10em;
  margin: 2em;
  padding: 1em;
}

/* Get a Meal Page Styles */
.meal-item {
  width: 16em;
  height: 16em;
  margin: 2em;
  padding: 1em;
  display: inline-block;
}

.mini-meal{
  height: 120px;
  width: 120px;
}

