/* Universal Styling */

* {
  box-sizing: border-box;
}

body {
  margin: 0;
}

/* Nav Bar Styling */
.nav {
  background-color: darkslategrey;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  gap: 2rem;
  padding: 0 1rem;
  position: fixed;    /* Set the navbar to fixed position */
  top: 0;             /* Stick it to the top of the viewport */
  width: 100%;  
}

.user-profile-option {
  font-size: 2rem;
}

.nav a {
  color: inherit;
  text-decoration: none;
  height: 100%;
  display: flex;
  align-items: center;
  padding: .25rem;
}

.nav ul {
  padding: 0;
  margin: 0;
  list-style: none;
  display: flex;
  gap: 1rem;
}

.nav li:active{
  background-color: #555;
}

.nav li:hover{
  background-color: #777;
}

/* Flash Message Styles - Yellow */
.alert {
  background: #ffdb9b;
  padding: 20px 40px;
  min-width: 420px;
  position: absolute;
  left: 0px;
  top: 40px;
  overflow: hidden;
  border-radius: 4px;
  border-left: 8px solid #ffa502;
}

.alert.hide{
  animation: show_slide 1s ease forwards;
}
@keyframes show_slide{
  0%{
    transform:translateX(-100%)
  }
  80%{
    transform: translateX(0%)
  }
  100%{
    transform: translateX(10px)
  }
}

.alert .msg{
  font-size: 17px;
  color: #ce8500;
}

.alert .close-btn {
  position: absolute;
  right: 0px;
  top: 50%;
  transform: translateY(-50%);
  background: #ffd080;
  padding: 20px 18px;
}

.close-btn:hover{
  background: #ffc766;
}

.close-btn .fa-times{
  color: #ce8500;
  font-size: 22px;
  line-height: 40px;
}

/* Flash Message Styles - Red */
.red-alert {
  background: lightcoral;
  padding: 20px 40px;
  min-width: 420px;
  position: absolute;
  left: 0px;
  top: 40px;
  overflow: hidden;
  border-radius: 4px;
  border-left: 8px solid #b30300;
}

.red-alert.red-hide{
  animation: show_slide 1s ease forwards;
}
@keyframes show_slide{
  0%{
    transform:translateX(-100%)
  }
  80%{
    transform: translateX(0%)
  }
  100%{
    transform: translateX(10px)
  }
}

.red-alert .red-msg{
  font-size: 17px;
  color: #bd0300;
}

.red-alert .red-close-btn {
  position: absolute;
  right: 0px;
  top: 50%;
  transform: translateY(-50%);
  background: #b30300;
  padding: 20px 18px;
}

.red-close-btn:hover{
  background: #9e0300;
}

.red-close-btn .red-fa-times{
  color: #9e0300;
  font-size: 22px;
  line-height: 40px;
}

/* Adjust content and flash message so that it is not covered by nav bar */
.flash-message{
  margin-top: 60px;   /* Adjusts the height of the Jinja body block to avoid being under navbar */
}

.content{
  margin-top: 100px;   /* Adjusts the height of the Jinja body block to avoid being under navbar */
}

/* Welcome Page Styles */
.login-form{
  text-align: center;
}

/*header class styles */
.header{
  text-align: center;
}


/* All Buttons */

.button{
  color: white;
  background-color: green;
}


/* Recipe Page Styles */

div.meal-details-visuals-container {
  display: inline-block;
}

H3.recipe-title{
  text-align: center;
}

div.meal-ingredients {
  border-radius: 3px;
  width: 11em;
  /* height: 15em; */ 
  display: inline-block;
}

div.previous-meal-comments {
  border-radius: 3px;
  border: 3px solid black;
  width: 15em;
  height: 10em;
  margin: 2em;
  padding: 1em;
}

/* Get a Meal Page Styles */
.meal-item {
  width: 16em;
  height: 16em;
  margin: 2em;
  padding: 1em;
  display: inline-block;
}

.mini-meal{
  height: 120px;
  width: 120px;
}

/* add_a_meal Page Styles */
.required-asterisk{
  color: red;

}