{% extends 'base.html' %}

{% block title %}Create an Account{% endblock %}

{% block body %}
  <h1 class="header">Get Ready For Your Delicious Experience</h1>

  <form action="/confirm_user" method = "POST" class = "login-form">
        
        <p>
            <input id="login-email" type="email" class = "login-form" name="email" 
            placeholder="email@example.com">
        </p>

        <p>
            <input id="login-password" type="password" class = "login-form" name="password" 
            placeholder = "password">
        </p>

        <p>
            <input id="login-submit" type="Submit" class = "button" value = "Enter">
        </p>

        <a href="/">
            Back to Welcome Page
        </a>
  </form>

{% endblock %}