{% extends 'base.html' %}

{% block title %}Get A Meal{% endblock %}

{% block body %}
  <h1 class="header">Selection Time!</h1>
    
    <div class="header">
        <H2> Use the options below to select choices to return meal ideas!</H2>
        <p> Your choices will return an output of meals that contain any of the ingredients selected!</p>

        <form action="/get_meals/json" id="get-meal-options-form">      
            <label for = "ingredients1">Ingredient1</label>
            <select name = "ingredient1" id = "ingredient1">
                <option value="None">None</option>
                {% for ingredient in ingredients %}
                <option value = "{{ ingredient }}"> {{ ingredient }} </option>
                {% endfor %}
            </select>

            <label for = "ingredient2">Ingredient2</label>
            <!-- <input type = "text" name = "ingredient2" id = "ingredient2"> -->
            <select name = "ingredient2" id = "ingredient2">
                <option value="None">None</option>
                {% for ingredient in ingredients %}
                    <option value = "{{ ingredient }}"> {{ ingredient }} </option>
                {% endfor %}
            </select>

            <label for = "ingredient3">Ingredient3</label>
            <select name = "ingredient3" id = "ingredient3"> 
                <option value="None">None</option>
                {% for ingredient in ingredients %}
                    <option value = "{{ ingredient }}"> {{ ingredient }} </option>
                {% endfor %}
            </select>

            <label for = "ingredient4">Ingredient4</label>
            <select name = "ingredient4" id = "ingredient4"> 
                <option value="None">None</option>
                {% for ingredient in ingredients %}
                    <option value = "{{ ingredient }}"> {{ ingredient }} </option>
                {% endfor %}
            </select>
            <br>
            <br>

            <input  type = "submit" class = "button" value ="Get Meals"/>
        </form>

        <H2 id="Bon-Appétit"></H2>
        <div class = "returned-meals" id = "returned-meals"></div>
    </div>

    <script src="/static/js/Components.jsx" type="text/jsx"></script>

{% endblock %}