{% extends 'base.html' %}

{% block title %}Get A Meal{% endblock %}

{% block body %}
  <h1>Selection Time!</h1>
    
  <H2> Use the dropdown boxes to select choices to pick a meal!</H2>
    <p> * Your choices will return an output of meals that match the category, area, or any of the ingredients selected!</p>

  <form id="get-meal-options">
        <label for = "category">Category:</label>
        <select name = "category" id = "category"> 
            {% for category in categories %}
                <option value = "{{ category }}"> {{ category }} </option>
            {% endfor %}
        </select>

        <label for = "area">Area:</label>
        <select name = "area" id = "area"> 
            {% for area in areas %}
                <option value = "{{ area }}"> {{ area }} </option>
            {% endfor %}
        </select>
      
        <label for = "ingredients1">Ingredient1:</label>
        <select name = "ingredient1" id = "ingredient1"> 
            {% for ingredient in ingredients %}
                <option value = "{{ ingredient }}"> {{ ingredient }} </option>
            {% endfor %}
        </select>

        <label for = "ingredient2">Ingredient2:</label>
        <select name = "ingredient2" id = "ingredient2"> 
            {% for ingredient in ingredients %}
                <option value = "{{ ingredient }}"> {{ ingredient }} </option>
            {% endfor %}
        </select>

        <label for = "ingredient3">Ingredient3:</label>
        <select name = "ingredient3" id = "ingredient3"> 
            {% for ingredient in ingredients %}
                <option value = "{{ ingredient }}"> {{ ingredient }} </option>
            {% endfor %}
        </select>

        <input  type = "submit" id ="submit-options-for-meal-button" class = "button" value ="Get Meals"/>
  </form>

  <H2>Bon Appétit!</H2>
  <div class = "returned-meals" id = "returned-meals">
  </div>

    <script src="/static/js/Components.jsx" type="text/jsx"></script>

{% endblock %}