{% extends 'base.html' %}

{% block title %}{{ meal.meal_name }} Recipe {% endblock %}

{% block body %}

<div class = "recipe-title">
    <h1> {{ meal.meal_name.title() }} Recipe</h1>

    {% if average_score %}
    <H2>Average Rating : {{ average_score }} / 6 </H2>
    {% else %}
    <H2>Awating Raitings!</H2>
    {% endif %}
</div>

<div class ="meal-visual-container">
    <img src = "{{ meal.meal_image_url }}" alt = "picture of {{ meal.meal_name }}" class = "meal-details-image" width ="500" height ="500" />
</div> 

<br>

<input type="hidden" name="user_id" id="like-or-dislike-user-id" value="{{user.user_id}}">
<input type="hidden" name="meal_id" id="like-or-dislike-meal-id" value="{{meal.meal_id}}">

<div class ="meal-visual-container">
    <form id="like-form" action="/like/{{user.user_id}}/{{ meal.meal_id}}/json" method="POST">
        {% if user_like %}
        <input type = "submit" id="vote-yes" class="buttonblue vote-button" value="👍"/>
        {% else %}
        <input type = "submit" id="vote-yes" class="button vote-button" value="👍" />
        {% endif %}
    </form>
    &nbsp;
    <div class="votes" id="number-of-likes">{{ meal_likes }}</div>

    &nbsp;
    &nbsp;

    <form id="dislike-form" action = "/dislike/{{user.user_id}}/{{ meal.meal_id}}/json" method = "POST">
        {% if user_dislike %}
        <input type = "submit" id="vote-no" class="buttonred vote-button" value="👎"/>
        {% else %}
        <input type = "submit" id="vote-no" class="button vote-button" value="👎"/>
        {% endif %}
    </form>
    &nbsp;
    <div class = "votes" id="number-of-dislikes">{{ meal_dislikes }}</div>
</div>

<H3 class = "recipe-title instructions">To make {{meal.meal_name.title()}}, you'll need:</H3>

{% for ingredient in meal_ingredients %}
<div class = "meal-ingredients"> 
    <img src = "{{ ingredient.ingredient_image_url }}" alt="picture of {{ ingredient.ingredient_name }}" width = "100" height="100"/><br>
    <p class>{{ingredient.ingredient_measure.title()}} {{ingredient.ingredient_name }}</p>
</div>
{% endfor %}

<div class="recipe-title">
    <H3>Instructions:</H3>
    <p>{{ meal.recipe }}</p>
</div>

<div class ="meal-visual-container">
{% if meal.meal_video_url %}
<iframe width="500" height="500" src="{{ meal.meal_video_url }}" frameborder="0" allowfullscreen class="meal-details-video">
    <p>Your browser does not support iframes, or the content could not be loaded.</p>
</iframe>
{% else %}
<p>This meal does not contain a video.</p>
{% endif %}
</div>

<H3>Leave a comment and a rating!</H3>

<form action = "/add_rating_and_comment/{{ meal.meal_name }}/{{ meal.meal_id }}" id= "review" method = "POST">
    <fieldset class="rating">
        <input type="radio" id="rate1" name="rating" value="1">
        <label for="rate1">1 - Nasty🤮</label>
        <input type="radio" id="rate2" name="rating" value="2">
        <label for="rate2">2 - Not Great 😒</label>
        <input type="radio" id="rate3" name="rating" value="3" checked>
        <label for="rate3">3 - Okay 👌</label>
        <input type="radio" id="rate4" name="rating" value="4">
        <label for="rate4">4 - Decent 😏</label>
        <input type="radio" id="rate5" name="rating" value="5">
        <label for="rate5">5 - Really Good 😃</label>
        <input type="radio" id="rate6" name="rating" value="6">
        <label for="rate6">6 - Delicious 😋</label>
        <span class="focus-ring"></span>
     </fieldset>

    <br>
    
    {% for i in range (meal_comments_list|length)  %}
    <div class = "previous-meal-comments">
        <p>
         <em><strong>Rating: {{ meal_rating_score_list[i] }}</strong></em>
        </p>
        <p>
        {{ meal_comments_list[i][2] }}
        </p>
        <p style = "text-align: right;">
        <em>Left by {{ meal_comments_list[i][0] }} {{ meal_comments_list[i][1] }} on {{ meal_comments_list[i][3] }}</em>
        </p>
    </div>
    {% endfor %}
    <textarea id = "comment-field" name = "comment-field" rows="5" columns="60"></textarea>
    <br>
    <input type="submit" id = "submit-comment-button" class = "button" value="Post">
</form>

<script src="/static/js/Components.jsx" type="text/jsx"></script>
{% endblock %}