{% extends 'base.html' %}

{% block title %}{{ user.fname }}'s - Details{% endblock %}

{% block body %}
<div class = "header">
    <form id="get-recent-activity" action="/recent_activity/{{user.user_id}}/json" method="POST"> 
        <input type="submit" id="recent-activity" class="button" value="Recent Activity">
    </form>
    &nbsp;
    &nbsp;
    <form id="get-favorites"> 
        <input type="submit" id="favorite-meals" class="button" value="Favorite Meals">
    </form>
</div>

<input type="hidden" id="user-info-output-id" value="{{user.user_id}}">

<div id="activity-favorites-display">
</div>

<h1 class="header" id="favorites-header">Favorites</h1>
<table class="meal-rating-and-comment-or-favorite-table" id="favorites-table">
  <thead> 
        <tr>
            <th>Meal<br>Name</th>
            <th>Meal<br>Image</th>
            <th>Details</th>
        </tr>
    </thead>
    <tbody id="favorite-data">
        {% for dictionary in favorites %}
        <tr>
            <td>{{ dictionary["meal_name"] }}</td>
            <td>
              <a href = "/recipe/{{ dictionary['meal_name'] }}/{{ dictionary['meal_id'] }}">
                <img src = "{{ dictionary['image'] }}" width="100" height= "100"/>
              </a>
            </td>
            <td>
              <ul style="list-style: none;">
                <li>Category:<form action="/category_output/json" method="GET"><input type="submit" name="category" class="category-modal-outputer" value="{{ dictionary['category'] }}" data-modal-target="#modal"></form></li>
                <br>
                <li>Area:<form action="/area_output/json" method="GET"><input type="submit" name="area" class="area-modal-outputer" value="{{ dictionary['area'] }}" data-modal-target="#modal"></form></li>
              </ul>
            </td>
        </tr>
        {% endfor %}
    </tbody>


<div class="modal" id="modal">
    <div class="modal-header" id="modal-header">
        <div class="modal-title" id="modal-title"></div>
        <button data-modal-closer class="closer">&times;</button>
    </div>

    <div class="modal-body" id="modal-body">
        <ul id="modal-body-list"> 
        </ul>
    </div>
</div>

<div id="overlay">
</div>

<script src="/static/js/Components.jsx" type="text/jsx"></script>

{% endblock %}